<!doctype html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Welcome to the Setlist Generator</title>

</head>
<body>
<div class="container">
    {% if error %}
        <div class="alert alert-danger">
            <p>{{error}}</p>
        </div>
    {% endif %}
    <div class="jumbotron text-center">
        <h1>Hello {{name}}!</h1>
    </div>
    <div>
        <form class="needs-validation" action="{{ url_for('results') }}" method="POST">
            <div class="form-group">
                <label for="artist_name">Please enter Artist Name below:</label>
                <input name='artist_name' type="text" class="form-control" id="artist_name">
            </div>
            <div>
                <button type="submit" class="btn btn-info">Create Playlist</button>
            </div>
        </form>
        <div>
            <a href="/sign_out" class="btn btn-danger" role="button">Sign Out</a>
        </div>
    </div>
</div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script type=text/javascript src="{{url_for('static', filename='main.js') }}"></script>
